{% extends 'base.html.twig' %}

{% block title %}Nouveau Agent{% endblock %}

{% block body %}
    <h1>Nouveau Agent</h1>

    {{ include('agent/_form.html.twig', {'button_label': 'Modifier'}) }}

    <a href="{{ path('app_agent_index') }}">Afficher la Liste</a>

    {{ include('agent/_delete_form.html.twig') }}
{% endblock %}
