{% extends 'base.html.twig' %}

{% block title %}Liste Agent{% endblock %}

{% block body %}
    <h1>Liste Agent</h1>

    <table class="table">
        <thead>
            <tr>
                <th>Nom</th>
                <th>Prenom</th>
                <th>NumeroTelephone</th>
                <th>Actions</th>
                {#
                <th>Id</th>
                <th>User_create</th>
                <th>User_update</th>
                <th>User_delete</th>
                <th>Date_create</th>
                <th>Date_update</th>
                <th>Date_delete</th>
                #}
            </tr>
        </thead>
        <tbody>
        {% for agent in agents %}
            <tr>
                <td>{{ agent.nom }}</td>
                <td>{{ agent.prenom }}</td>
                <td>{{ agent.numeroTelephone }}</td>
                {#
                <td>{{ agent.id }}</td>
                <td>{{ agent.userCreate }}</td>
                <td>{{ agent.userUpdate }}</td>
                <td>{{ agent.userDelete }}</td>
                <td>{{ agent.dateCreate ? agent.dateCreate|date('Y-m-d H:i:s') : '' }}</td>
                <td>{{ agent.dateUpdate ? agent.dateUpdate|date('Y-m-d H:i:s') : '' }}</td>
                <td>{{ agent.dateDelete ? agent.dateDelete|date('Y-m-d H:i:s') : '' }}</td>
#}
                <td>
                    <a href="{{ path('app_agent_show', {'id': agent.id}) }}">Afficher</a>
                    <a href="{{ path('app_agent_edit', {'id': agent.id}) }}">Modifier</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="11">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('app_agent_new') }}">Créer Nouveau Agent</a>
{% endblock %}
