{% extends 'base.html.twig' %}

{% block title %}Nouveau Agent{% endblock %}

{% block body %}
    <h1>Créer Nouveau Agent</h1>

    {{ include('agent/_form.html.twig') }}

    <a href="{{ path('app_agent_index') }}" class="link-btn">Afficher la liste</a>
{% endblock %}
