{% extends 'base.html.twig' %}

{% block title %}Agent{% endblock %}

{% block body %}
    <h1>Agent</h1>

    <table class="table">
        <tbody>
            <tr>
                <th>Nom</th>
                <td>{{ agent.nom }}</td>
            </tr>
            <tr>
                <th>Prenom</th>
                <td>{{ agent.prenom }}</td>
            </tr>
            <tr>
                <th>NumeroTelephone</th>
                <td>{{ agent.numeroTelephone }}</td>
            </tr>
            {#
            <tr>
                <th>Id</th>
                <td>{{ agent.id }}</td>
            </tr>
            <tr>
                <th>User_create</th>
                <td>{{ agent.userCreate }}</td>
            </tr>
            <tr>
                <th>User_update</th>
                <td>{{ agent.userUpdate }}</td>
            </tr>
            <tr>
                <th>User_delete</th>
                <td>{{ agent.userDelete }}</td>
            </tr>
            <tr>
                <th>Date_create</th>
                <td>{{ agent.dateCreate ? agent.dateCreate|date('Y-m-d H:i:s') : '' }}</td>
            </tr>
            <tr>
                <th>Date_update</th>
                <td>{{ agent.dateUpdate ? agent.dateUpdate|date('Y-m-d H:i:s') : '' }}</td>
            </tr>
            <tr>
                <th>Date_delete</th>
                <td>{{ agent.dateDelete ? agent.dateDelete|date('Y-m-d H:i:s') : '' }}</td>
            </tr>
        #}
        </tbody>
    </table>

    <a href="{{ path('app_agent_index') }}">Afficher la Liste</a>

    <a href="{{ path('app_agent_edit', {'id': agent.id}) }}">Modifier</a>

    {{ include('agent/_delete_form.html.twig') }}
{% endblock %}
