<form method="post" action="{{ path('app_duree_contrat_delete', {'id': duree_contrat.id}) }}" onsubmit="return confirm('Êtes vous sûr de vouloir supprimer?');">
    <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ duree_contrat.id) }}">
    <button class="btn">Supprimer</button>
</form>
