{% extends 'base.html.twig' %}

{% block title %}Modificaton Durée Contrat{% endblock %}

{% block body %}
    <h1>Modification Durée Contrat</h1>

    {{ include('duree_contrat/_form.html.twig', {'button_label': 'Modifier'}) }}

    <a href="{{ path('app_duree_contrat_index') }}">Afficher la liste</a>

    {{ include('duree_contrat/_delete_form.html.twig') }}
{% endblock %}
