{% extends 'base.html.twig' %}

{% block title %}Liste Durée Contrat{% endblock %}

{% block body %}
    <h1>Liste Durée Contrat</h1>

    <table class="table">
        <thead>
            <tr>
                <th>Durée</th>
                <th>Actions</th>
                {#
                <th>Id</th>
                <th>User_create</th>
                <th>User_update</th>
                <th>User_delete</th>
                <th>Date_create</th>
                <th>Date_update</th>
                <th>Date_delete</th>
                #}
            </tr>
        </thead>
        <tbody>
        {% for duree_contrat in duree_contrats %}
            <tr>
                <td>{{ duree_contrat.duree }}</td>
                <td>
                    <a href="{{ path('app_duree_contrat_show', {'id': duree_contrat.id}) }}">Afficher</a>
                    <a href="{{ path('app_duree_contrat_edit', {'id': duree_contrat.id}) }}">Modifier</a>
                </td>
{#
                <td>{{ duree_contrat.id }}</td>
                <td>{{ duree_contrat.userCreate }}</td>
                <td>{{ duree_contrat.userUpdate }}</td>
                <td>{{ duree_contrat.userDelete }}</td>
                <td>{{ duree_contrat.dateCreate ? duree_contrat.dateCreate|date('Y-m-d H:i:s') : '' }}</td>
                <td>{{ duree_contrat.dateUpdate ? duree_contrat.dateUpdate|date('Y-m-d H:i:s') : '' }}</td>
                <td>{{ duree_contrat.dateDelete ? duree_contrat.dateDelete|date('Y-m-d H:i:s') : '' }}</td>
#}                
            </tr>
        {% else %}
            <tr>
                <td colspan="9">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('app_duree_contrat_new') }}">Créer Nouvelle Durée</a>
{% endblock %}
