{% extends 'base.html.twig' %}

{% block title %}Nouveau Durée Contrat{% endblock %}

{% block body %}
    <h1>Nouveau Durée Contrat</h1>

    {{ include('duree_contrat/_form.html.twig') }}

    <a href="{{ path('app_duree_contrat_index') }}" class="link-btn">Afficher la Liste</a>
{% endblock %}
