{% extends 'base.html.twig' %}

{% block title %}Durée Contrat{% endblock %}

{% block body %}
    <h1>Durée Contrat</h1>

    <table class="table">
        <tbody>
            <tr>
                <th>Duree</th>
                <td>{{ duree_contrat.duree }}</td>
            </tr>
            {#
            <tr>
                <th>Id</th>
                <td>{{ duree_contrat.id }}</td>
            </tr>
            <tr>
                <th>User_create</th>
                <td>{{ duree_contrat.userCreate }}</td>
            </tr>
            <tr>
                <th>User_update</th>
                <td>{{ duree_contrat.userUpdate }}</td>
            </tr>
            <tr>
                <th>User_delete</th>
                <td>{{ duree_contrat.userDelete }}</td>
            </tr>
            <tr>
                <th>Date_create</th>
                <td>{{ duree_contrat.dateCreate ? duree_contrat.dateCreate|date('Y-m-d H:i:s') : '' }}</td>
            </tr>
            <tr>
                <th>Date_update</th>
                <td>{{ duree_contrat.dateUpdate ? duree_contrat.dateUpdate|date('Y-m-d H:i:s') : '' }}</td>
            </tr>
            <tr>
                <th>Date_delete</th>
                <td>{{ duree_contrat.dateDelete ? duree_contrat.dateDelete|date('Y-m-d H:i:s') : '' }}</td>
            </tr>
#}
        </tbody>
    </table>

    <a href="{{ path('app_duree_contrat_index') }}">Afficher la Liste</a>

    <a href="{{ path('app_duree_contrat_edit', {'id': duree_contrat.id}) }}">Modifier</a>

    {{ include('duree_contrat/_delete_form.html.twig') }}
{% endblock %}
