

{% block title %}Login{% endblock %}

{% block stylesheets %}
<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
<link rel="stylesheet" href="https://unpkg.com/boxicons@2.0.9/css/boxicons.min.css">
<style>
    body {
        background-color: #83B9F0;
        font-family: var(--poppins);
    }

    .card {
        border-radius: 12px;
        box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
        background: var(--light);
        border: 1px solid var(--blue);
    }

    .card-header {
        background: var(--blue);
        color: var(--light);
        border-bottom: none;
        border-radius: 12px 12px 0 0;
        font-weight: 600;
    }

    .form-control {
        border-radius: 8px;
        border: 1px solid var(--grey);
        box-shadow: inset 0 1px 2px rgba(0,0,0,0.1);
    }

    .form-control:focus {
        border-color: var(--blue);
        box-shadow: 0 0 5px rgba(60, 145, 230, 0.5);
    }

    .btn-primary {
        background: var(--blue);
        border: none;
        border-radius: 48px;
        font-weight: 600;
        padding: 10px 20px;
        transition: background 0.3s ease;
    }

    .btn-primary:hover {
        background: #2C71B8;
        color: var(--light);
    }

    .alert {
        border-radius: 8px;
    }

    .form-check-input {
        border-radius: 4px;
    }
</style>
{% endblock %}

{% block body %}
<div class="container mt-5">
    <div class="row justify-content-center">
        <div class="col-md-6">
            <div class="card border-primary mb-3">
                <div class="card-header text-center">LOGIN</div>
                <div class="card-body">
                    <form method="post">
                        {% if error is defined and error %}
                            <div class="alert alert-danger">{{ error.messageKey|trans(error.messageData, 'security') }}</div>
                        {% else %}
                            <div class="alert alert-info">No error</div>
                        {% endif %}

                        {% if app.user %}
                            <div class="mb-3">
                                You are logged in as {{ app.user.userIdentifier }}, <a href="{{ path('app_logout') }}">Logout</a>
                            </div>
                        {% endif %}

                        <h1 class="h3 mb-3 font-weight-normal text-center">Please sign in</h1>
                        <div class="form-group">
                            <label for="inputUsername">Username</label>
                            <input type="text" value="{{ last_username|default('') }}" name="username" id="inputUsername" class="form-control" autocomplete="username" required autofocus>
                        </div>
                        <div class="form-group">
                            <label for="inputPassword">Password</label>
                            <input type="password" name="password" id="inputPassword" class="form-control" autocomplete="current-password" required>
                        </div>
                        <input type="hidden" name="_csrf_token" value="{{ csrf_token('authenticate') }}">

                        <div class="form-group form-check">
                            <input type="checkbox" class="form-check-input" name="_remember_me" id="rememberMe">
                            <label class="form-check-label" for="rememberMe">Remember me</label>
                        </div>

                        <button class="btn btn-primary btn-lg btn-block" type="submit">Sign in</button>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}
