{% extends 'base.html.twig' %}

{% block title %}Register{% endblock %}

{% block stylesheets %}
 <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
 <link rel="stylesheet" href="https://unpkg.com/boxicons@2.0.9/css/boxicons.min.css">
 <style>
    body {
        background-color: var(--light-blue);
        font-family: var(--poppins);
    }

    .card {
        border-radius: 12px;
        box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
        background: var(--light);
    }

    .card-header {
        background: var(--blue);
        color: var(--light);
        border-bottom: none;
        border-radius: 12px 12px 0 0;
    }

    .form-control {
        border-radius: 8px;
        border: 1px solid var(--grey);
        box-shadow: inset 0 1px 2px rgba(0,0,0,0.1);
    }

    .form-control:focus {
        border-color: var(--blue);
        box-shadow: 0 0 5px rgba(60, 145, 230, 0.5);
    }

    .btn-primary {
        background: var(--blue);
        border: none;
        border-radius: 48px;
        font-weight: 600;
        padding: 10px 20px;
        transition: background 0.3s ease;
    }

    .btn-primary:hover {
        background: #2C71B8;
        color: var(--light);
    }

    .form-group label {
        color: var(--dark);
    }
 </style>
{% endblock %}

{% block body %}
<div class="container mt-5">
    <div class="row justify-content-center">
        <div class="col-md-6">
            <div class="card">
                <div class="card-header text-center">
                    <h1>Register</h1>
                </div>
                <div class="card-body">
                    {{ form_errors(registrationForm) }}

                    {{ form_start(registrationForm) }}
                    <div class="form-group">
                        {{ form_row(registrationForm.username, {'attr': {'class': 'form-control'}}) }}
                    </div>
                    <div class="form-group">
                        <label for="role_user">ROLE</label>
                        <select id="role_user" name="role" class="form-control">
                            <option value="SUPER_ROLE_ADMIN">ADMIN</option>
                        </select>
                    </div>
                    <div class="form-group">
                        {{ form_row(registrationForm.plainPassword, {'attr': {'class': 'form-control'}, 'label': 'Password'}) }}
                    </div>
                    <button type="submit" class="btn btn-primary btn-block">Register</button>
                    {{ form_end(registrationForm) }}
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}
