<form method="post" action="{{ path('app_type_immobilier_delete', {'id': type_immobilier.id}) }}" onsubmit="return confirm('Etes vous sûr de vouloir supprimer?');">
    <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ type_immobilier.id) }}">
    <button class="btn">Supprimer</button>
</form>
