{% extends 'base.html.twig' %}

{% block title %}Nouveau Type Immobilier{% endblock %}

{% block body %}
    <h1>Nouveau Type Immobilier</h1>

    {{ include('type_immobilier/_form.html.twig', {'button_label': 'Modifier'}) }}

    <a href="{{ path('app_type_immobilier_index') }}">Afficher la Liste</a>

    {{ include('type_immobilier/_delete_form.html.twig') }}
{% endblock %}
