{% extends 'base.html.twig' %}

{% block title %}Liste Type Immobilie{% endblock %}

{% block body %}
    <h1>Liste Type Immobilier</h1>

    <table class="table">
        <thead>
            <tr>
                
                <th>Nom Type Immobilier</th>
                {# 
                <th>Id</th>    
                <th>User_create</th>
                <th>User_update</th>
                <th>User_delete</th>
                <th>Date_create</th>
                <th>Date_update</th>
                <th>Date_delete</th> #}
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
        {% for type_immobilier in type_immobiliers %}
            <tr>
                
                <td>{{ type_immobilier.nomTypeImmobilier }}</td>
                {# 
                <td>{{ type_immobilier.id }}</td>    
                <td>{{ type_immobilier.userCreate }}</td>
                <td>{{ type_immobilier.userUpdate }}</td>
                <td>{{ type_immobilier.userDelete }}</td>
                <td>{{ type_immobilier.dateCreate ? type_immobilier.dateCreate|date('Y-m-d H:i:s') : '' }}</td>
                <td>{{ type_immobilier.dateUpdate ? type_immobilier.dateUpdate|date('Y-m-d H:i:s') : '' }}</td>
                <td>{{ type_immobilier.dateDelete ? type_immobilier.dateDelete|date('Y-m-d H:i:s') : '' }}</td> #}
                <td>
                    <a href="{{ path('app_type_immobilier_show', {'id': type_immobilier.id}) }}">Afficher</a>
                    <a href="{{ path('app_type_immobilier_edit', {'id': type_immobilier.id}) }}">Modifier</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="9">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('app_type_immobilier_new') }}">Créer Nouveau Immobilier</a>
{% endblock %}
