{% extends 'base.html.twig' %}

{% block title %}Nouveau Type Immobilier{% endblock %}

{% block body %}
    <h1>Créer Nouveau Type Immobilier</h1>

    {{ include('type_immobilier/_form.html.twig') }}

    <a href="{{ path('app_type_immobilier_index') }}" class="link-btn">Afficher la Liste</a>
{% endblock %}
