{% extends 'base.html.twig' %}

{% block title %}TypeImmobilier{% endblock %}

{% block body %}
    <h1>TypeImmobilier</h1>

    <table class="table">
        <tbody>
            {#<tr>
                <th>Id</th>
                <td>{{ type_immobilier.id }}</td>
            </tr>#}
            <tr>
                <th>Nom Type Immobilier</th>
                <td>{{ type_immobilier.nomTypeImmobilier }}</td>
            </tr>
            {# <tr>
                <th>User_create</th>
                <td>{{ type_immobilier.userCreate }}</td>
            </tr>
            <tr>
                <th>User_update</th>
                <td>{{ type_immobilier.userUpdate }}</td>
            </tr>
            <tr>
                <th>User_delete</th>
                <td>{{ type_immobilier.userDelete }}</td>
            </tr>
            <tr>
                <th>Date_create</th>
                <td>{{ type_immobilier.dateCreate ? type_immobilier.dateCreate|date('Y-m-d H:i:s') : '' }}</td>
            </tr>
            <tr>
                <th>Date_update</th>
                <td>{{ type_immobilier.dateUpdate ? type_immobilier.dateUpdate|date('Y-m-d H:i:s') : '' }}</td>
            </tr>
            <tr>
                <th>Date_delete</th>
                <td>{{ type_immobilier.dateDelete ? type_immobilier.dateDelete|date('Y-m-d H:i:s') : '' }}</td>
            </tr> #}
        </tbody>
    </table>

    <a href="{{ path('app_type_immobilier_index') }}">Afficher la Liste</a>

    <a href="{{ path('app_type_immobilier_edit', {'id': type_immobilier.id}) }}">Modifier</a>

    {{ include('type_immobilier/_delete_form.html.twig') }}
{% endblock %}
