{% extends 'base.html.twig' %}

{% block title %}Modifiez Rendez-Vous{% endblock %}

{% block body %}
    <h1>Modifier Rendez-Vous</h1>

    {{ include('rendez_vous/_form.html.twig', {'button_label': 'Modifier'}) }}

    <a href="{{ path('app_rendez_vous_index') }}">Afficher la Liste</a>

    {{ include('rendez_vous/_delete_form.html.twig') }}
{% endblock %}
