{% extends 'base.html.twig' %}

{% block title %}Liste Rendez-Vous{% endblock %}

{% block body %}
    <h1>Liste Rendez-Vous</h1>

    <table class="table">
        <thead>
            <tr>
                {#
                <th>Id</th>#}
                <th>Date Rendez-Vous</th>
                <th>Commentaire</th>
                {#
                <th>User_create</th>
                <th>User_update</th>
                <th>User_delete</th>
                <th>Date_create</th>
                <th>Date_update</th>
                <th>Date_delete</th>
                #}<th>Actions</th>
            </tr>
        </thead>
        <tbody>
        {% for rendez_vou in rendez_vouses %}
            <tr>
                {#<td>{{ rendez_vou.id }}</td>
                #}<td>{{ rendez_vou.date ? rendez_vou.date|date('Y-m-d H:i:s') : '' }}</td>
                {#<td>{{ rendez_vou.commentaire }}</td>
                <td>{{ rendez_vou.userCreate }}</td>
                <td>{{ rendez_vou.userUpdate }}</td>
                <td>{{ rendez_vou.userDelete }}</td>
                <td>{{ rendez_vou.dateCreate ? rendez_vou.dateCreate|date('Y-m-d H:i:s') : '' }}</td>
                <td>{{ rendez_vou.dateUpdate ? rendez_vou.dateUpdate|date('Y-m-d H:i:s') : '' }}</td>
                <td>{{ rendez_vou.dateDelete ? rendez_vou.dateDelete|date('Y-m-d H:i:s') : '' }}</td>
                #}<td>
                    <a href="{{ path('app_rendez_vous_show', {'id': rendez_vou.id}) }}">Afficher</a>
                    <a href="{{ path('app_rendez_vous_edit', {'id': rendez_vou.id}) }}">Modifier</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="10">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('app_rendez_vous_new') }}">Créer Nouveau</a>
{% endblock %}
