{% extends 'base.html.twig' %}

{% block title %}Nouveau Rendez-Vous{% endblock %}

{% block body %}
    <h1>Créer Rendez-Vous</h1>

    {{ include('rendez_vous/_form.html.twig') }}

    <a href="{{ path('app_rendez_vous_index') }}" class="link-btn">Afficher la Liste</a>
{% endblock %}
