{% extends 'base.html.twig' %}

{% block title %}Rendez-Vous{% endblock %}

{% block body %}
    <h1>Rendez-Vous</h1>

    <table class="table">
        <tbody>
            {#<tr>
                <th>Id</th>
                <td>{{ rendez_vou.id }}</td>
            </tr>#}
            <tr>
                <th>Date Rendez-Vous</th>
                <td>{{ rendez_vou.date ? rendez_vou.date|date('Y-m-d H:i:s') : '' }}</td>
            </tr>
            <tr>
                <th>Commentaire</th>
                <td>{{ rendez_vou.commentaire }}</td>
            </tr>
            {#<tr>
                <th>User_create</th>
                <td>{{ rendez_vou.userCreate }}</td>
            </tr>
            <tr>
                <th>User_update</th>
                <td>{{ rendez_vou.userUpdate }}</td>
            </tr>
            <tr>
                <th>User_delete</th>
                <td>{{ rendez_vou.userDelete }}</td>
            </tr>
            <tr>
                <th>Date_create</th>
                <td>{{ rendez_vou.dateCreate ? rendez_vou.dateCreate|date('Y-m-d H:i:s') : '' }}</td>
            </tr>
            <tr>
                <th>Date_update</th>
                <td>{{ rendez_vou.dateUpdate ? rendez_vou.dateUpdate|date('Y-m-d H:i:s') : '' }}</td>
            </tr>
            <tr>
                <th>Date_delete</th>
                <td>{{ rendez_vou.dateDelete ? rendez_vou.dateDelete|date('Y-m-d H:i:s') : '' }}</td>
            </tr>#}
        </tbody>
    </table>

    <a href="{{ path('app_rendez_vous_index') }}">Afficher la Liste</a>

    <a href="{{ path('app_rendez_vous_edit', {'id': rendez_vou.id}) }}">Modifier</a>

    {{ include('rendez_vous/_delete_form.html.twig') }}
{% endblock %}
