<form method="post" action="{{ path('app_bien_immobilier_delete', {'id': bien_immobilier.id}) }}" onsubmit="return confirm('Êtes vous sûr de vouloir supprimer?');">
    <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ bien_immobilier.id) }}">
    <button class="btn">Supprimer</button>
</form>
