{% extends 'base.html.twig' %}

{% block title %}Modifier Bien Immobilier{% endblock %}

{% block body %}
    <h1>Modifier Bien Immobilier</h1>

    {{ include('bien_immobilier/_form.html.twig', {'button_label': 'Modifier'}) }}

    <a href="{{ path('app_bien_immobilier_index') }}">Afficher la Liste</a>

    {{ include('bien_immobilier/_delete_form.html.twig') }}
{% endblock %}
