{% extends 'base.html.twig' %}

{% block title %}Liste Bien Immobilier{% endblock %}

{% block body %}
    <h1>Liste Bien Immobilier</h1>

    <table class="table">
        <thead>
            <tr>
                <th>Description</th>
                <th>Prix</th>
                <th>Superficie</th>
                <th>Nombre de Pieces</th>
                <th>Nom Immobilier</th>
                <th>Actions</th>
                {#
                <th>Id</th>
                <th>User_create</th>
                <th>User_update</th>
                <th>User_delete</th>
                <th>Date_create</th>
                <th>Date_update</th>
                <th>Date_delete</th>
                #}
            </tr>
        </thead>
        <tbody>
        {% for bien_immobilier in bien_immobiliers %}
            <tr>
                <td>{{ bien_immobilier.description }}</td>
                <td>{{ bien_immobilier.prix }}</td>
                <td>{{ bien_immobilier.superficie }}</td>
                <td>{{ bien_immobilier.nombrePieces }}</td>
                <td>{{ bien_immobilier.nomImmobilier }}</td>
                <td>
                    <a href="{{ path('app_bien_immobilier_show', {'id': bien_immobilier.id}) }}">Afficher</a>
                    <a href="{{ path('app_bien_immobilier_edit', {'id': bien_immobilier.id}) }}">Modifier</a>
                </td>
                {#
                <td>{{ bien_immobilier.id }}</td>
                <td>{{ bien_immobilier.userCreate }}</td>
                <td>{{ bien_immobilier.userUpdate }}</td>
                <td>{{ bien_immobilier.userDelete }}</td>
                <td>{{ bien_immobilier.dateCreate ? bien_immobilier.dateCreate|date('Y-m-d H:i:s') : '' }}</td>
                <td>{{ bien_immobilier.dateUpdate ? bien_immobilier.dateUpdate|date('Y-m-d H:i:s') : '' }}</td>
                <td>{{ bien_immobilier.dateDelete ? bien_immobilier.dateDelete|date('Y-m-d H:i:s') : '' }}</td>
                #}
            </tr>
        {% else %}
            <tr>
                <td colspan="13">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('app_bien_immobilier_new') }}">Créer Nouveau Bien</a>
{% endblock %}
