{% extends 'base.html.twig' %}

{% block title %}Nouveau BienImmobilier{% endblock %}

{% block body %}
    <h1>Créer Nouveau Bien Immobilier</h1>

    {{ include('bien_immobilier/_form.html.twig') }}

    <a href="{{ path('app_bien_immobilier_index') }}" class="link-btn">Afficher la Liste</a>
{% endblock %}
