{% extends 'base.html.twig' %}

{% block title %}Bien Immobilier{% endblock %}

{% block body %}
    <h1>Bien Immobilier</h1>

    <table class="table">
        <tbody>
            <tr>
                
                <th>Description</th>

                <td>{{ bien_immobilier.description }}</td>
            </tr>
            <tr>
                <th>Prix</th>
                <td>{{ bien_immobilier.prix }}</td>
            </tr>
            <tr>
                <th>Superficie</th>
                <td>{{ bien_immobilier.superficie }}</td>
            </tr>
            <tr>
                <th>Nombre de Pieces</th>
                <td>{{ bien_immobilier.nombrePieces }}</td>
            </tr>
            <tr>
                <th>Nom Immobilier</th>
                <td>{{ bien_immobilier.nomImmobilier }}</td>
            </tr>
            {#
            <tr>
                <th>Id</th>
                <td>{{ bien_immobilier.id }}</td>
            </tr>
            <tr>
                <th>Id</th>
                <td>{{ bien_immobilier.id }}</td>
            </tr>
            <tr>
                <th>User_create</th>
                <td>{{ bien_immobilier.userCreate }}</td>
            </tr>
            <tr>
                <th>User_update</th>
                <td>{{ bien_immobilier.userUpdate }}</td>
            </tr>
            <tr>
                <th>User_delete</th>
                <td>{{ bien_immobilier.userDelete }}</td>
            </tr>
            <tr>
                <th>Date_create</th>
                <td>{{ bien_immobilier.dateCreate ? bien_immobilier.dateCreate|date('Y-m-d H:i:s') : '' }}</td>
            </tr>
            <tr>
                <th>Date_update</th>
                <td>{{ bien_immobilier.dateUpdate ? bien_immobilier.dateUpdate|date('Y-m-d H:i:s') : '' }}</td>
            </tr>
            <tr>
                <th>Date_delete</th>
                <td>{{ bien_immobilier.dateDelete ? bien_immobilier.dateDelete|date('Y-m-d H:i:s') : '' }}</td>
            </tr>
#}
        </tbody>
    </table>

    <a href="{{ path('app_bien_immobilier_index') }}">Afficher la Liste</a>

    <a href="{{ path('app_bien_immobilier_edit', {'id': bien_immobilier.id}) }}">Modifier</a>

    {{ include('bien_immobilier/_delete_form.html.twig') }}
{% endblock %}
