<form method="post" action="{{ path('app_moyen_paiement_delete', {'id': moyen_paiement.id}) }}" onsubmit="return confirm('Êtes vous sûr de vouloir supprimer?');">
    <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ moyen_paiement.id) }}">
    <button class="btn">Supprimer</button>
</form>
