{% extends 'base.html.twig' %}

{% block title %}Modifier Moyen Paiement{% endblock %}

{% block body %}
    <h1>Modifier Moyen Paiement</h1>

    {{ include('moyen_paiement/_form.html.twig', {'button_label': 'Modifier'}) }}

    <a href="{{ path('app_moyen_paiement_index') }}">Afficher la Liste</a>

    {{ include('moyen_paiement/_delete_form.html.twig') }}
{% endblock %}
