{% extends 'base.html.twig' %}

{% block title %}Liste Moyen Paiement{% endblock %}

{% block body %}
    <h1>Liste Moyen Paiement</h1>

    <table class="table">
        <thead>
            <tr>
                <th>Nom Moyen de Paiement</th>
                <th>Frais</th>
                <th>Actions</th>
                {#
                <th>Id</th>
                <th>User_create</th>
                <th>User_update</th>
                <th>User_delete</th>
                <th>Date_create</th>
                <th>Date_update</th>
                <th>Date_delete</th>
                #}
            </tr>
        </thead>
        <tbody>
        {% for moyen_paiement in moyen_paiements %}
            <tr>
                <td>{{ moyen_paiement.NomMoyenPaiement }}</td>
                <td>{{ moyen_paiement.Frais }}</td>
                <td>
                    <a href="{{ path('app_moyen_paiement_show', {'id': moyen_paiement.id}) }}">Afficher</a>
                    <a href="{{ path('app_moyen_paiement_edit', {'id': moyen_paiement.id}) }}">Modifier</a>
                </td>
                {#
                <td>{{ moyen_paiement.id }}</td>
                <td>{{ moyen_paiement.userCreate }}</td>
                <td>{{ moyen_paiement.userUpdate }}</td>
                <td>{{ moyen_paiement.userDelete }}</td>
                <td>{{ moyen_paiement.dateCreate ? moyen_paiement.dateCreate|date('Y-m-d H:i:s') : '' }}</td>
                <td>{{ moyen_paiement.dateUpdate ? moyen_paiement.dateUpdate|date('Y-m-d H:i:s') : '' }}</td>
                <td>{{ moyen_paiement.dateDelete ? moyen_paiement.dateDelete|date('Y-m-d H:i:s') : '' }}</td>
                #}
            </tr>
        {% else %}
            <tr>
                <td colspan="10">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('app_moyen_paiement_new') }}">Créer Nouveau</a>
{% endblock %}
