{% extends 'base.html.twig' %}

{% block title %}Nouveau Moyen Paiement{% endblock %}

{% block body %}
    <h1>Nouveau Moyen Paiement</h1>

    {{ include('moyen_paiement/_form.html.twig') }}

    <a href="{{ path('app_moyen_paiement_index') }}" class="link-btn">Afficher la Liste</a>
{% endblock %}
