{% extends 'base.html.twig' %}

{% block title %}Moyen Paiement{% endblock %}

{% block body %}
    <h1>Moyen Paiement</h1>

    <table class="table">
        <tbody>
            <tr>
                <th>Nom Moyen de Paiement</th>
                <td>{{ moyen_paiement.NomMoyenPaiement }}</td>
            </tr>
            <tr>
                <th>Fraix</th>
                <td>{{ moyen_paiement.Frais }}</td>
            </tr>
{#
            <tr>
                <th>Id</th>
                <td>{{ moyen_paiement.id }}</td>
            </tr>
            <tr>
                <th>User_create</th>
                <td>{{ moyen_paiement.userCreate }}</td>
            </tr>
            <tr>
                <th>User_update</th>
                <td>{{ moyen_paiement.userUpdate }}</td>
            </tr>
            <tr>
                <th>User_delete</th>
                <td>{{ moyen_paiement.userDelete }}</td>
            </tr>
            <tr>
                <th>Date_create</th>
                <td>{{ moyen_paiement.dateCreate ? moyen_paiement.dateCreate|date('Y-m-d H:i:s') : '' }}</td>
            </tr>
            <tr>
                <th>Date_update</th>
                <td>{{ moyen_paiement.dateUpdate ? moyen_paiement.dateUpdate|date('Y-m-d H:i:s') : '' }}</td>
            </tr>
            <tr>
                <th>Date_delete</th>
                <td>{{ moyen_paiement.dateDelete ? moyen_paiement.dateDelete|date('Y-m-d H:i:s') : '' }}</td>
            </tr>
            #}
        </tbody>
    </table>

    <a href="{{ path('app_moyen_paiement_index') }}">Afficher la Liste</a>

    <a href="{{ path('app_moyen_paiement_edit', {'id': moyen_paiement.id}) }}">Modifier</a>

    {{ include('moyen_paiement/_delete_form.html.twig') }}
{% endblock %}
