<form method="post" action="{{ path('app_type_paiement_delete', {'id': type_paiement.id}) }}" onsubmit="return confirm('Êtes vous sûr de vouloir supprimer?');">
    <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ type_paiement.id) }}">
    <button class="btn">Supprimer</button>
</form>
