{% extends 'base.html.twig' %}

{% block title %}Modifier Type Paiement{% endblock %}

{% block body %}
    <h1>Modifier Type de Paiement</h1>

    {{ include('type_paiement/_form.html.twig', {'button_label': 'Modifier'}) }}

    <a href="{{ path('app_type_paiement_index') }}">Afficher la Liste</a>

    {{ include('type_paiement/_delete_form.html.twig') }}
{% endblock %}
