{% extends 'base.html.twig' %}

{% block title %}Liste Type Paiement{% endblock %}

{% block body %}
    <h1>Liste Type de Paiement</h1>

    <table class="table">
        <thead>
            <tr>
                {# <th>Id</th> 
                #}
                <th>Nom Type de Paiement</th>
                {# <th>User_create</th>
                <th>User_update</th>
                <th>User_delete</th>
                <th>Date_create</th>
                <th>Date_update</th>
                <th>Date_delete</th> #}
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
        {% for type_paiement in type_paiements %}
            <tr>
                {# <td>{{ type_paiement.id }}</td> 
                #}
                <td>{{ type_paiement.NomTypePaiement }}</td>
                {# <td>{{ type_paiement.userCreate }}</td>
                <td>{{ type_paiement.userUpdate }}</td>
                <td>{{ type_paiement.userDelete }}</td>
                <td>{{ type_paiement.dateCreate ? type_paiement.dateCreate|date('Y-m-d H:i:s') : '' }}</td>
                <td>{{ type_paiement.dateUpdate ? type_paiement.dateUpdate|date('Y-m-d H:i:s') : '' }}</td>
                <td>{{ type_paiement.dateDelete ? type_paiement.dateDelete|date('Y-m-d H:i:s') : '' }}</td>
                 #}
                <td>
                    <a href="{{ path('app_type_paiement_show', {'id': type_paiement.id}) }}">Afficher</a>
                    <a href="{{ path('app_type_paiement_edit', {'id': type_paiement.id}) }}">Modifier</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="9">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('app_type_paiement_new') }}">Créer Nouveau</a>
{% endblock %}
