{% extends 'base.html.twig' %}

{% block title %}Nouveau Type Paiement{% endblock %}

{% block body %}
    <h1>Créer Nouveau Type de Paiement</h1>

    {{ include('type_paiement/_form.html.twig') }}

    <a href="{{ path('app_type_paiement_index') }}" class="link-btn">Afficher la Liste</a>
{% endblock %}
