{% extends 'base.html.twig' %}

{% block title %}Type Paiement{% endblock %}

{% block body %}
    <h1>Type de Paiement</h1>

    <table class="table">
        <tbody>
            {# <tr>
                <th>Id</th>
                <td>{{ type_paiement.id }}</td>
            </tr> #}
            <tr>
                <th>Nom_Type_Paiement</th>
                <td>{{ type_paiement.NomTypePaiement }}</td>
            </tr>
            {#<tr>
                <th>User_create</th>
                <td>{{ type_paiement.userCreate }}</td>
            </tr>
            <tr>
                <th>User_update</th>
                <td>{{ type_paiement.userUpdate }}</td>
            </tr>
            <tr>
                <th>User_delete</th>
                <td>{{ type_paiement.userDelete }}</td>
            </tr>
            <tr>
                <th>Date_create</th>
                <td>{{ type_paiement.dateCreate ? type_paiement.dateCreate|date('Y-m-d H:i:s') : '' }}</td>
            </tr>
            <tr>
                <th>Date_update</th>
                <td>{{ type_paiement.dateUpdate ? type_paiement.dateUpdate|date('Y-m-d H:i:s') : '' }}</td>
            </tr>
            <tr>
                <th>Date_delete</th>
                <td>{{ type_paiement.dateDelete ? type_paiement.dateDelete|date('Y-m-d H:i:s') : '' }}</td>
            </tr>#}
        </tbody>
    </table>

    <a href="{{ path('app_type_paiement_index') }}">Afficher la Liste</a>

    <a href="{{ path('app_type_paiement_edit', {'id': type_paiement.id}) }}">Modifier</a>

    {{ include('type_paiement/_delete_form.html.twig') }}
{% endblock %}
