{% extends 'base.html.twig' %}

{% block title %}Modifier Paiement{% endblock %}

{% block body %}
    <h1>Modifier Paiement</h1>

    {{ include('paiement/_form.html.twig', {'button_label': 'Modifier'}) }}

    <a href="{{ path('app_paiement_index') }}">Afficher la Liste</a>

    {{ include('paiement/_delete_form.html.twig') }}
{% endblock %}
