{% extends 'base.html.twig' %}

{% block title %}Liste Paiement{% endblock %}

{% block body %}
    <h1>Liste Paiement</h1>

    <table class="table">
        <thead>
            <tr>
                {# <th>Id</th> 
                #}
                <th>DatePaiement</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for paiement in paiements %}
            <tr>
             {#   <td>{{ paiement.id }}</td> 
             #}
                <td>{{ paiement.datePaiement ? paiement.datePaiement|date('Y-m-d H:i:s') : '' }}</td>
                <td>
                    <a href="{{ path('app_paiement_show', {'id': paiement.id}) }}">show</a>
                    <a href="{{ path('app_paiement_edit', {'id': paiement.id}) }}">edit</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="3">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('app_paiement_new') }}">Create new</a>
{% endblock %}
