{% extends 'base.html.twig' %}

{% block title %}New Paiement{% endblock %}

{% block body %}
    <h1>Create new Paiement</h1>

    {{ include('paiement/_form.html.twig') }}

    <a href="{{ path('app_paiement_index') }}" class="link-btn">back to list</a>
{% endblock %}
