/* Font and Base Styling */
@import url('https://fonts.googleapis.com/css2?family=Lato:wght@400;700&family=Poppins:wght@400;500;600;700&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

a {
  text-decoration: none;
}

li {
  list-style: none;
}

:root {
  --poppins: 'Poppins', sans-serif;
  --lato: 'Lato', sans-serif;

  --light: #F9F9F9;
  --blue: #3C91E6;
  --light-blue: #CFE8FF;
  --grey: #eee;
  --dark-grey: #AAAAAA;
  --dark: #342E37;
  --red: #DB504A;
  --yellow: #FFCE26;
  --light-yellow: #FFF2C6;
  --orange: #FD7238;
  --light-orange: #FFE0D3;
}

html {
  overflow-x: hidden;
}

body {
  background: var(--grey);
  overflow-x: hidden;
}

body.dark {
  --light: #0C0C1E;
  --grey: #060714;
  --dark: #FBFBFB;
}

/* Sidebar */
#sidebar {
  position: fixed;
  top: 0;
  left: 0;
  width: 280px;
  height: 100%;
  background: var(--light);
  z-index: 2000;
  font-family: var(--lato);
  transition: width 0.3s ease;
  overflow-x: hidden;
  overflow-y: auto; /* Ensure scrollbar visibility */
}

#sidebar.hide {
  width: 60px;
}

#sidebar .brand {
  font-size: 24px;
  font-weight: 700;
  height: 56px;
  display: flex;
  align-items: center;
  color: var(--blue);
  position: sticky;
  top: 0;
  left: 0;
  background: var(--light);
  z-index: 500;
  padding-bottom: 20px;
  box-sizing: content-box;
}

#sidebar .brand .bx {
  min-width: 60px;
  display: flex;
  justify-content: center;
}

#sidebar .side-menu {
  width: 100%;
  margin-top: 48px;
}

#sidebar .side-menu li {
  height: 48px;
  background: transparent;
  margin-left: 6px;
  border-radius: 48px 0 0 48px;
  padding: 4px;
}

#sidebar .side-menu li.active {
  background: var(--grey);
  position: relative;
}

#sidebar .side-menu li.active::before,
#sidebar .side-menu li.active::after {
  content: '';
  position: absolute;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  box-shadow: 20px 20px 0 var(--grey);
  z-index: -1;
}

#sidebar .side-menu li.active::before {
  top: -40px;
  right: 0;
}

#sidebar .side-menu li.active::after {
  bottom: -40px;
  right: 0;
}

#sidebar .side-menu li a {
  width: 100%;
  height: 100%;
  background: var(--light);
  display: flex;
  align-items: center;
  border-radius: 48px;
  font-size: 16px;
  color: var(--dark);
  white-space: nowrap;
  overflow-x: hidden;
}

#sidebar .side-menu.top li.active a {
  color: var(--blue);
}

#sidebar.hide .side-menu li a {
  width: calc(48px - (4px * 2));
  transition: width 0.3s ease;
}

#sidebar .side-menu li a.logout {
  color: var(--red);
}

#sidebar .side-menu.top li a:hover {
  color: var(--blue);
}

#sidebar .side-menu li a .bx {
  min-width: calc(60px - ((4px + 6px) * 2));
  display: flex;
  justify-content: center;
}

/* Content */
#content {
  position: relative;
  width: calc(100% - 280px);
  left: 280px;
  transition: width 0.3s ease, left 0.3s ease;
}

/* Adjust content width when sidebar is hidden */
#sidebar.hide ~ #content {
  width: calc(100% - 60px);
  left: 60px;
}

/* Navbar */
#content nav {
  height: 56px;
  background: var(--light);
  padding: 0 24px;
  display: flex;
  align-items: center;
  gap: 24px;
  font-family: var(--lato);
  position: sticky;
  top: 0;
  left: 0;
  z-index: 1000;
  transition: 0.3s ease;
}

#content nav::before {
  content: '';
  position: absolute;
  width: 40px;
  height: 40px;
  bottom: -40px;
  left: 0;
  border-radius: 50%;
  box-shadow: -20px -20px 0 var(--light);
}

#content nav a {
  color: var(--dark);
}

#content nav .bx.bx-menu {
  cursor: pointer;
  color: var(--dark);
}

#content nav .nav-link {
  font-size: 16px;
  transition: 0.3s ease;
}

#content nav .nav-link:hover {
  color: var(--blue);
}

/* Main Content */
#content main {
  width: 100%;
  padding: 36px 24px;
  font-family: var(--poppins);
  max-height: calc(100vh - 56px);
  overflow-y: auto;
}

/* Scrollbars */
/* Custom Scrollbars for Sidebar and Content */
/* Custom Scrollbars for Sidebar and Content */
#sidebar::-webkit-scrollbar,
#content::-webkit-scrollbar {
  width: 6px; /* Width of the vertical scrollbar */
  height: 6px; /* Height of the horizontal scrollbar */
}

#sidebar::-webkit-scrollbar-track,
#content::-webkit-scrollbar-track {
  background: var(--light); /* Background color of the scrollbar track */
}

#sidebar::-webkit-scrollbar-thumb,
#content::-webkit-scrollbar-thumb {
  background: var(--dark); /* Color of the scrollbar thumb */
  border-radius: 10px; /* Round the corners of the scrollbar thumb */
}

#sidebar::-webkit-scrollbar-thumb:hover,
#content::-webkit-scrollbar-thumb:hover {
  background: var(--blue); /* Color of the scrollbar thumb when hovered */
}

#sidebar::-webkit-scrollbar-horizontal,
#content::-webkit-scrollbar-horizontal {
  height: 6px; /* Height of horizontal scrollbar */
}

/* Table Styling */
table {
  width: 100%;
  border-collapse: collapse;
  margin: 20px 0;
  font-size: 14px;
  font-family: var(--lato);
}

table, th, td {
  border: 1px solid var(--grey);
}

th, td {
  padding: 12px 16px;
  text-align: left;
}

thead {
  font-weight: 700;
  background: var(--blue); /* Fond bleu pour les en-têtes */
  color: var(--light); /* Couleur du texte des en-têtes pour contraste */
}

tbody tr:nth-child(even) {
  background-color: var(--blue);
}

tbody tr:hover {
  background-color: var(--light-blue);
  cursor: pointer;
}

/* Adjust other styles if needed */

  /* Button Styling */
.btn {
  background: var(--blue); /* Couleur de fond bleu */
  color: var(--dark); /* Couleur du texte clair */
  font-family: var(--poppins); /* Police Poppins */
  font-weight: 600; /* Poids de la police pour une meilleure lisibilité */
  border: none; /* Sans bordure */
  border-radius: 48px; /* Bordure arrondie */
  padding: 4px 18px; /* Espacement interne */
  cursor: pointer; /* Changer le curseur pour indiquer l'interaction */
  transition: background 0.3s ease; /* Transition pour l'effet de survol */
  margin-top: 20px;
}

.btn:hover {
  background: #2C71B8; /* Couleur de fond plus sombre au survol */
  color: var(--light);
}
/* Link Styling */
.link-btn {
  display: inline-block; /* Pour que le lien se comporte comme un bouton */
  background: var(--blue); /* Couleur de fond bleu */
  color: var(--dark); /* Couleur du texte clair */
  font-family: var(--poppins); /* Police Poppins */
  font-weight: 600; /* Poids de la police pour une meilleure lisibilité */
  text-decoration: none; /* Sans soulignement */
  border: none; /* Sans bordure */
  border-radius: 48px; /* Bordure arrondie */
  padding: 2px 7px; /* Espacement interne */
  cursor: pointer; /* Changer le curseur pour indiquer l'interaction */
  transition: background 0.3s ease; /* Transition pour l'effet de survol */
  margin-top: 20px; /* Marge en haut */
}

.link-btn:hover {
  background: #2C71B8; /* Couleur de fond plus sombre au survol */
  color: var(--light); /* Couleur de fond plus sombre au survol */
}

a {
  text-decoration: none;
}

a.btn {
  display: inline-block;
  background: var(--blue);
  color: var(--light);
  font-family: var(--poppins);
  font-weight: 600;
  border-radius: 48px;
  padding: 10px 20px;
  cursor: pointer;
  transition: background 0.3s ease, color 0.3s ease;
  margin: 10px;
}

a.btn:hover {
  background: var(--dark-blue);
  color: var(--light);
}

a.btn.secondary {
  background: var(--light-blue);
  color: var(--dark);
}

a.btn.secondary:hover {
  background: var(--blue);
  color: var(--light);
}

/* No records found message */
tbody tr td[colspan="12"] {
  text-align: center;
  padding: 20px;
  color: var(--dark-grey);
  font-style: italic;
}

/* H1 Title Styling */
h1 {
  font-family: var(--poppins);
  font-weight: 700;
  font-size: 20px;
  color: var(--dark);
  margin: 20px 0;
  text-align: center;
  line-height: 1.3;
  text-transform: uppercase;
  letter-spacing: 1px;
  position: relative;
}

h1::before {
  content: '';
  position: absolute;
  left: 0;
  right: 0;
  bottom: -10px;
  height: 6px;
  background: var(--blue);
  border-radius: 4px;
  z-index: -1;
  opacity: 0.5;
}

/* General Link Styling */
a {
  color: var(--blue); /* Couleur du texte du lien */
  text-decoration: none; /* Supprimer le soulignement par défaut */
  font-weight: 600; /* Poids de la police pour plus de lisibilité */
  font-family: var(--poppins); /* Police Poppins */
  transition: color 0.3s ease, background-color 0.3s ease; /* Transition douce pour les effets de survol */
}

/* Link Styling for Buttons */
a.btn {
  display: inline-block; /* Permet de styliser le lien comme un bouton */
  background: var(--blue); /* Couleur de fond du bouton */
  color: var(--light); /* Couleur du texte du bouton */
  border-radius: 48px; /* Bordures arrondies */
  padding: 12px 24px; /* Espacement interne */
  cursor: pointer; /* Changer le curseur pour indiquer l'interaction */
  text-align: center; /* Centrer le texte */
}

a.btn:hover {
  background: var(--dark-blue); /* Couleur de fond plus sombre au survol */
  color: var(--light); /* Couleur du texte au survol */
  text-decoration: none; /* Supprimer le soulignement au survol */
}

/* Link Styling for Table Actions */
.table a {
  color: var(--blue); /* Couleur du texte des liens dans la table */
  font-weight: 600; /* Poids de la police pour plus de lisibilité */
  margin-right: 10px; /* Espacement entre les liens */
}

.table a:hover {
  color: var(--dark-blue); /* Couleur du texte des liens au survol */
  text-decoration: underline; /* Soulignement des liens au survol */
}

/* General Textarea Styling */
textarea {
  width: 250px; /* Largeur fixe */
  height:  40px; /* Hauteur fixe */
  padding: 12px; /* Espacement interne */
  border: 1px solid var(--grey); /* Bordure légère */
  border-radius: 8px; /* Coins arrondis */
  font-family: var(--lato); /* Utiliser la police Lato */
  font-size: 14px; /* Taille de la police */
  color: var(--dark); /* Couleur du texte */
  margin-left: 15px;
  margin-bottom: 10px; /* Marge en bas */
  background-color: var(--light); /* Couleur de fond claire */
  resize: none; /* Empêcher le redimensionnement */
  transition: border-color 0.3s ease, box-shadow 0.3s ease; /* Transition douce pour les effets de survol */
}

/* Focus State */
textarea:focus {
  border-color: var(--blue); /* Changer la couleur de bordure lors de la mise au point */
  box-shadow: 0 0 5px rgba(60, 145, 230, 0.5); /* Ajouter une ombre portée bleue pour un effet de mise au point */
  outline: none; /* Supprimer le contour par défaut */
}

/* General Input Styling */
input[type="text"], input[type="number"], input[type="datetime-local"], input[type="label"]{
  width: 250px; /* Largeur fixe */
  padding: 8px; /* Espacement interne */
  border: 1px solid var(--grey); /* Bordure légère */
  border-radius: 8px; /* Coins arrondis */
  font-family: var(--lato); /* Utiliser la police Lato */
  font-size: 14px; /* Taille de la police */
  color: var(--dark); /* Couleur du texte */
  margin-left: 25px;
  margin-bottom: 15px; /* Marge en bas */
  margin-top: 15px;
  background-color: var(--light); /* Couleur de fond claire */
  box-sizing: border-box; /* Inclure les bordures et le padding dans la largeur totale */
  transition: border-color 0.3s ease, box-shadow 0.3s ease; /* Transition douce pour les effets de survol */
  
}

/* Focus State */
input[type="text"]:focus {
  border-color: var(--blue); /* Changer la couleur de bordure lors de la mise au point */
  box-shadow: 0 0 5px rgba(60, 145, 230, 0.5); /* Ajouter une ombre portée bleue pour un effet de mise au point */
  outline: none; /* Supprimer le contour par défaut */
}

/* Placeholder Styling */
input[type="text"]::placeholder {
  color: var(--dark-grey); /* Couleur du texte de l'espace réservé */
  font-family: var(--lato); /* Utiliser la police Lato */
}

/* Custom Dashboard Styles */
.container {
  max-width: 1200px;
}

.card {
  border-radius: 15px;
  transition: transform 0.2s ease-in-out, box-shadow 0.2s ease-in-out;
}

.card:hover {
  transform: translateY(-10px);
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.2);
}

.card-header {
  font-weight: bold;
  font-size: 1.2em;
}

.shadow-sm {
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

h1 {
  font-size: 2.5em;
  color: #343a40;
}

p {
  font-size: 1.2em;
  color: #6c757d;
}

canvas {
  margin: 0 auto;
}
