{% extends 'base.html.twig' %}

{% block title %}New Personne{% endblock %}

{% block body %}
    <h1>Create new Personne</h1>

    {{ include('personne/_form.html.twig') }}

    <a href="{{ path('app_personne_index') }}" class="link-btn">back to list</a>
{% endblock %}
