{% extends 'base.html.twig' %}

{% block title %}Edit Adresse{% endblock %}

{% block body %}
    <h1>Modification Adresse</h1>

    {{ include('adresse/_form.html.twig', {'button_label': 'Modifier'}) }}

    <a href="{{ path('app_adresse_index') }}">Afficher la Liste</a>

    {{ include('adresse/_delete_form.html.twig') }}
{% endblock %}
