{% extends 'base.html.twig' %}

{% block title %}Adresse index{% endblock %}

{% block body %}
    <h1>Adresse</h1>

    <table class="table">
        <thead>
            <tr>
                <th>Code-Postal</th>
                <th>Ville</th>
                <th>Pays</th>
                <th>Status</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
        {% for adresse in adresses %}
            <tr>
                
                <td>{{ adresse.codePostal }}</td>
                <td>{{ adresse.ville }}</td>
                <td>{{ adresse.pays }}</td>
                 <td>{{ adresse.status ? 'Yes' : 'No' }}</td>
                <td>
                    <a href="{{ path('app_adresse_show', {'id': adresse.id}) }}">Afficher</a>
                    <a href="{{ path('app_adresse_edit', {'id': adresse.id}) }}">Modifier</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="12">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('app_adresse_new') }}">Nouvelle Adresse</a>
    
{% endblock %}

