{% extends 'base.html.twig' %}

{% block title %}New Adresse{% endblock %}

{% block body %}
    <h1>Création Nouvelle Adresse</h1>

    {{ include('adresse/_form.html.twig') }}

    <a href="{{ path('app_adresse_index') }}" class="link-btn">Afficher la Liste</a>
{% endblock %}
