{% extends 'base.html.twig' %}

{% block title %}Adresse{% endblock %}

{% block body %}
    <h1>Adresse</h1>

    <table class="table">
        <tbody>
            {#<tr>
                <th>Id</th>
                <td>{{ adresse.id }}</td>
            </tr>#}
            <tr>
                <th>CodePostal</th>
                <td>{{ adresse.codePostal }}</td>
            </tr>
            <tr>
                <th>Ville</th>
                <td>{{ adresse.ville }}</td>
            </tr>
            <tr>
                <th>Pays</th>
                <td>{{ adresse.pays }}</td>
            </tr>
            {# 
            <tr>
                <th>User_update</th>
                <td>{{ adresse.userUpdate }}</td>
            </tr>
            <tr>
                <th>User_delete</th>
                <td>{{ adresse.userDelete }}</td>
            </tr>
            <tr>
                <th>Date_create</th>
                <td>{{ adresse.dateCreate ? adresse.dateCreate|date('Y-m-d H:i:s') : '' }}</td>
            </tr>
            <tr>
                <th>Date_update</th>
                <td>{{ adresse.dateUpdate ? adresse.dateUpdate|date('Y-m-d H:i:s') : '' }}</td>
            </tr>
            <tr>
                <th>Date_delete</th>
                <td>{{ adresse.dateDelete ? adresse.dateDelete|date('Y-m-d H:i:s') : '' }}</td>
            </tr> #}
            <tr>
                <th>Status</th>
                <td>{{ adresse.status ? 'Yes' : 'No' }}</td>
            </tr>
        </tbody>
    </table>

    <a href="{{ path('app_adresse_index') }}">Afficher Liste</a>

    <a href="{{ path('app_adresse_edit', {'id': adresse.id}) }}">Modifier</a>

    {{ include('adresse/_delete_form.html.twig') }}
{% endblock %}
