{% extends 'base.html.twig' %}

{% block title %}Client{% endblock %}

{% block body %}
    <h1>Client</h1>

    {{ include('client/_form.html.twig', {'button_label': 'Modifier'}) }}

    <a href="{{ path('app_client_index') }}">Afficher la Liste</a>

    {{ include('client/_delete_form.html.twig') }}
{% endblock %}
