{% extends 'base.html.twig' %}

{% block title %}Liste Client{% endblock %}

{% block body %}
    <h1>Liste Client</h1>

    <table class="table">
        <thead>
            <tr>
                <th>Nom</th>
                <th>Prenom</th>
                <th>NumeroTelephone</th>
                {# 
                 <th>Id</th>    
                <th>User_create</th>
                <th>User_update</th>
                <th>User_delete</th>
                <th>Date_create</th>
                <th>Date_update</th>
                <th>Date_delete</th> 
                #}
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
        {% for client in clients %}
            <tr>
                <td>{{ client.nom }}</td>
                <td>{{ client.prenom }}</td>
                <td>{{ client.numeroTelephone }}</td>
                {# 
                <td>{{ client.id }}</td>
                <td>{{ client.userCreate }}</td>
                <td>{{ client.userUpdate }}</td>
                <td>{{ client.userDelete }}</td>
                <td>{{ client.dateCreate ? client.dateCreate|date('Y-m-d H:i:s') : '' }}</td>
                <td>{{ client.dateUpdate ? client.dateUpdate|date('Y-m-d H:i:s') : '' }}</td>
                <td>{{ client.dateDelete ? client.dateDelete|date('Y-m-d H:i:s') : '' }}</td> 
                #}
                <td>
                    <a href="{{ path('app_client_show', {'id': client.id}) }}">Afficher</a>
                    <a href="{{ path('app_client_edit', {'id': client.id}) }}">Modifier</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="11">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('app_client_new') }}">Créer Nouveau Client</a>

    
{% endblock %}
