{% extends 'base.html.twig' %}

{% block title %}Nouveau Client{% endblock %}

{% block body %}
    <h1>Créer Nouveau Client</h1>

    {{ include('client/_form.html.twig') }}

    <a href="{{ path('app_client_index') }}" class="link-btn">Afficher la Liste</a>
{% endblock %}
    