{% extends 'base.html.twig' %}

{% block title %}Client{% endblock %}

{% block body %}
    <h1>Client</h1>

    <table class="table">
        <tbody>
            <tr>
                <th>Nom</th>
                <td>{{ client.nom }}</td>
            </tr>
            <tr>
                <th>Prenom</th>
                <td>{{ client.prenom }}</td>
            </tr>
            <tr>
                <th>NumeroTelephone</th>
                <td>{{ client.numeroTelephone }}</td>
            </tr>
            {#
            <tr>
                <th>Id</th>
                <td>{{ client.id }}</td>
            </tr> 
            <tr>
                <th>User_create</th>
                <td>{{ client.userCreate }}</td>
            </tr>
            <tr>
                <th>User_update</th>
                <td>{{ client.userUpdate }}</td>
            </tr>
            <tr>
                <th>User_delete</th>
                <td>{{ client.userDelete }}</td>
            </tr>
            <tr>
                <th>Date_create</th>
                <td>{{ client.dateCreate ? client.dateCreate|date('Y-m-d H:i:s') : '' }}</td>
            </tr>
            <tr>
                <th>Date_update</th>
                <td>{{ client.dateUpdate ? client.dateUpdate|date('Y-m-d H:i:s') : '' }}</td>
            </tr>
            <tr>
                <th>Date_delete</th>
                <td>{{ client.dateDelete ? client.dateDelete|date('Y-m-d H:i:s') : '' }}</td>
            </tr> #}
        </tbody>
    </table>

    <a href="{{ path('app_client_index') }}">Afficher la Liste</a>

    <a href="{{ path('app_client_edit', {'id': client.id}) }}">Modifier</a>

    {{ include('client/_delete_form.html.twig') }}
{% endblock %}
