<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>{% block title %}Welcome!{% endblock %}</title>
    <link rel="icon" href="data:image/svg+xml,<svg xmlns=%22http://www.w3.org/2000/svg%22 viewBox=%220 0 128 128%22><text y=%221.2em%22 font-size=%2296%22>⚫️</text><text y=%221.3em%22 x=%220.2em%22 font-size=%2276%22 fill=%22%23fff%22>sf</text></svg>">
    {% block css %}
        <link href='https://unpkg.com/boxicons@2.0.9/css/boxicons.min.css' rel='stylesheet'>
        <link href="{{ asset('assets/CSS/style.css') }}" rel="stylesheet"/>
        <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" rel="stylesheet">
        <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.9.4/Chart.min.js"></script>            
    {% endblock %}
</head>
<body>
    <section id="sidebar">
        <a href="#" class="brand">
            <i class='bx bxs-smile'></i>
            <span class="text">Administrateur</span>
        </a>
        <ul class="side-menu top">
            <li><a href="{{ path('app_logout') }}" class="logout"><i class='bx bxs-log-out-circle'></i><span class="text">Déconnecter</span></a></li>
            <li><a href="{{ path('dashboard') }}"><i class="bx bxs-dashboard"></i><span class="text">Dashboard</span></a></li>
            <li><a href="{{ path('app_adresse_index') }}"><i class='bx bxs-map'></i><span class="text">Adresse</span></a></li>
            <li><a href="{{ path('app_bien_immobilier_index') }}"><i class='bx bxs-building-house'></i><span class="text">Bien Immobilier</span></a></li>
            <li><a href="{{ path('app_type_immobilier_index') }}"><i class='bx bxs-home-smile'></i><span class="text">Type Immobilier</span></a></li>
            <li><a href="{{ path('app_categorie_index') }}"><i class='bx bxs-category'></i><span class="text">Catégorie</span></a></li>
            <li><a href="{{ path('app_client_index') }}"><i class='bx bxs-user'></i><span class="text">Client</span></a></li>
            <li><a href="{{ path('app_contrat_index') }}"><i class='bx bxs-receipt'></i><span class="text">Contrat</span></a></li>
            <li><a href="{{ path('app_duree_contrat_index') }}"><i class='bx bxs-time-five'></i><span class="text">Durée Contrat</span></a></li>
            <li><a href="{{ path('app_facture_index') }}"><i class='bx bxs-receipt'></i><span class="text">Facture</span></a></li>
            <li><a href="{{ path('app_agent_index') }}"><i class='bx bxs-user-detail'></i><span class="text">Agent</span></a></li>
            <li><a href="{{ path('app_moyen_paiement_index') }}"><i class='bx bxs-credit-card'></i><span class="text">Moyen Paiement</span></a></li>
            <li><a href="{{ path('app_type_paiement_index') }}"><i class='bx bxs-wallet-alt'></i><span class="text">Type Paiement</span></a></li>
            <li><a href="{{ path('app_paiement_index') }}"><i class='bx bx-dollar'></i><span class="text">Paiement</span></a></li>
            <li><a href="{{ path('app_proprietaire_index') }}"><i class='bx bxs-user-pin'></i><span class="text">Propriétaire</span></a></li>
            <li><a href="{{ path('app_rendez_vous_index') }}"><i class='bx bxs-calendar-event'></i><span class="text">Rendez Vous</span></a></li>
            <li><a href="{{ path('app_visite_index') }}"><i class='bx bxs-calendar'></i><span class="text">Visite</span></a></li>
            <li><a href="{{ path('app_register') }}"><i class='bx bxs-user-check'></i><span class="text">Register</span></a></li>
        </ul>
    </section>

    <section id="content">
        <nav>
            <i class='bx bx-menu'></i>
            <a href="#" class="nav-link">{% block nav_link %}<h1>Gestion d'agence immobilier</h1>{% endblock %}</a>
        </nav>
        <main>
            {% block body %}{% endblock %}
    {% block javascript %}
      <script type="text/javascript" src="{{ asset('assets/JS/jquery.js') }}"></script>
      <script type="text/javascript" src="{{ asset('assets/JS/jquery.dataTables.min.js') }}"></script>
      <script type="text/javascript" src="{{ asset('assets/JS/dataTables.buttons.min.js') }}"></script>
      <script type="text/javascript" src="{{ asset('assets/JS/buttons.html5.min.js') }}"></script>
       <script type="text/javascript" src="{{ asset('assets/JS/buttons.print.min.js') }}"></script>
       <script type="text/javascript" src="{{ asset('assets/JS/dataTables.buttons.min.js') }}"></script>
       <script type="text/javascript" src="{{ asset('assets/JS/pdfmake.min.js') }}"></script>
    <script src="{{ asset('assets/JS/script.js') }}"></script>
      <script type="text/javascript" src="{{ asset('assets/JS/vfs_fonts.js') }}"></script>
<script type = "text/javascript">
        $(document).ready(function() {
    $('#example').DataTable( {
         language : {
            "zeroRecords": " "             
        },
        dom: 'Bfrtip',
        buttons: [
            'copy', 'csv', 'excel', 'pdf', 'print'
        ]
    } );
} );

</script>
      {% endblock %} 
        </main>
    </section>

    <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
    <script src="{{ asset('assets/JS/script.js') }}"></script>
</body>
</html>
