<form method="post" action="{{ path('app_proprietaire_delete', {'id': proprietaire.id}) }}" onsubmit="return confirm('Êtes vous s^r de vouloir supprimer?');">
    <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ proprietaire.id) }}">
    <button class="btn">Supprimer</button>
</form>
