{% extends 'base.html.twig' %}

{% block title %}Modifier Proprietaire{% endblock %}

{% block body %}
    <h1>Modifier Proprietaire</h1>

    {{ include('proprietaire/_form.html.twig', {'button_label': 'Modifier'}) }}

    <a href="{{ path('app_proprietaire_index') }}">Afficher la liste</a>

    {{ include('proprietaire/_delete_form.html.twig') }}
{% endblock %}
