{% extends 'base.html.twig' %}

{% block title %}Liste Proprietaire{% endblock %}

{% block body %}
    <h1> Liste Proprietaire</h1>

    <table class="table">
        <thead>
            <tr>
                <th>Nom</th>
                <th>Prénom</th>
                <th>Numero de Télephone</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
        {% for proprietaire in proprietaires %}
            <tr>
                {#<td>{{ proprietaire.id }}</td>
                #}
                <td>{{ proprietaire.nom }}</td>
                <td>{{ proprietaire.prenom }}</td>
                <td>{{ proprietaire.numeroTelephone }}</td>
                {#<td>{{ proprietaire.userCreate }}</td>
                <td>{{ proprietaire.userUpdate }}</td>
                <td>{{ proprietaire.userDelete }}</td>
                <td>{{ proprietaire.dateCreate ? proprietaire.dateCreate|date('Y-m-d H:i:s') : '' }}</td>
                <td>{{ proprietaire.dateUpdate ? proprietaire.dateUpdate|date('Y-m-d H:i:s') : '' }}</td>
                <td>{{ proprietaire.dateDelete ? proprietaire.dateDelete|date('Y-m-d H:i:s') : '' }}</td>
                #}<td>
                    <a href="{{ path('app_proprietaire_show', {'id': proprietaire.id}) }}">Afficher</a>
                    <a href="{{ path('app_proprietaire_edit', {'id': proprietaire.id}) }}">Modifier</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="11">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('app_proprietaire_new') }}">Créer Nouveau</a>
{% endblock %}
