{% extends 'base.html.twig' %}

{% block title %}Nouveau Propriètaire{% endblock %}

{% block body %}
    <h1>Créer Nouveau Proprietaire</h1>

    {{ include('proprietaire/_form.html.twig') }}

    <a href="{{ path('app_proprietaire_index') }}" class="link-btn">Afficher Nouveau</a>
{% endblock %}
