{% extends 'base.html.twig' %}

{% block title %}Proprietaire{% endblock %}

{% block body %}
    <h1>Proprietaire</h1>

    <table class="table">
        <tbody>
            {#<tr>
                <th>Id</th>
                <td>{{ proprietaire.id }}</td>
            </tr>#}
            <tr>
                <th>Nom</th>
                <td>{{ proprietaire.nom }}</td>
            </tr>
            <tr>
                <th>Prénom</th>
                <td>{{ proprietaire.prenom }}</td>
            </tr>
            <tr>
                <th>Numero de Télephone</th>
                <td>{{ proprietaire.numeroTelephone }}</td>
            </tr>
            {#<tr>
                <th>User_create</th>
                <td>{{ proprietaire.userCreate }}</td>
            </tr>
            <tr>
                <th>User_update</th>
                <td>{{ proprietaire.userUpdate }}</td>
            </tr>
            <tr>
                <th>User_delete</th>
                <td>{{ proprietaire.userDelete }}</td>
            </tr>
            <tr>
                <th>Date_create</th>
                <td>{{ proprietaire.dateCreate ? proprietaire.dateCreate|date('Y-m-d H:i:s') : '' }}</td>
            </tr>
            <tr>
                <th>Date_update</th>
                <td>{{ proprietaire.dateUpdate ? proprietaire.dateUpdate|date('Y-m-d H:i:s') : '' }}</td>
            </tr>
            <tr>
                <th>Date_delete</th>
                <td>{{ proprietaire.dateDelete ? proprietaire.dateDelete|date('Y-m-d H:i:s') : '' }}</td>
            </tr>#}
        </tbody>
    </table>

    <a href="{{ path('app_proprietaire_index') }}">Afficher la Liste</a>

    <a href="{{ path('app_proprietaire_edit', {'id': proprietaire.id}) }}">Modifier</a>

    {{ include('proprietaire/_delete_form.html.twig') }}
{% endblock %}
