{{ form_start(form) }}
    {{ form_widget(form) }}
    <button type="submit" class="list-button">{{ button_label|default('Enregistrer') }}</button>
{{ form_end(form) }}

<style>
    
    .list-button {
        color: var(--black);
	    padding: 10px 15px;
	    border: none;
	    border-radius: 8px;
	    cursor: pointer;
	    font-weight: 600;
	    align-items: center;
	    grid-gap: 10px;
	    margin-top: 25px;
        margin-bottom: 15px;
	    transition: background-color 0.3s ease;
    }

    .list-button:hover {
        background-color:  #f5f5f5;
    }
</style>
