{% extends 'base.html.twig' %}

{% block title %}Nouvelle Categorie{% endblock %}

{% block css %}
    {{ parent() }}
{% endblock %}

{% block body %}
    <h1>Nouvelle Categorie</h1>

    {{ include('categorie/_form.html.twig', {'button_label': 'Modifier'}) }}

    <a href="{{ path('app_categorie_index') }}">Afficher la Liste</a>

    {{ include('categorie/_delete_form.html.twig') }}
{% endblock %}
