{% extends 'base.html.twig' %}

{% block title %}Liste Catégorie{% endblock %}

{% block body %}
    <h1>Liste Catégorie</h1>

    <table class="table">
        <thead>
            <tr>
                {#<th>Id</th>#}
                <th>Nom Categorie</th>
                {# <th>User_create</th>
                <th>User_update</th>
                <th>User_delete</th>
                <th>Date_create</th>
                <th>Date_update</th>
                <th>Date_delete</th> #}
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
        {% for categorie in categories %}
            <tr>
                {# <td>{{ categorie.id }}</td> #}
                <td>{{ categorie.nomCategorie }}</td>
                {# <td>{{ categorie.userCreate }}</td>
                <td>{{ categorie.userUpdate }}</td>
                <td>{{ categorie.userDelete }}</td>
                <td>{{ categorie.dateCreate ? categorie.dateCreate|date('Y-m-d H:i:s') : '' }}</td>
                <td>{{ categorie.dateUpdate ? categorie.dateUpdate|date('Y-m-d H:i:s') : '' }}</td>
                <td>{{ categorie.dateDelete ? categorie.dateDelete|date('Y-m-d H:i:s') : '' }}</td> #}
                <td>
                    <a href="{{ path('app_categorie_show', {'id': categorie.id}) }}">Afficher</a>
                    <a href="{{ path('app_categorie_edit', {'id': categorie.id}) }}">Modifier</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="9">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('app_categorie_new') }}">Créer Nouvelle Catégorie</a>
{% endblock %}
