{% extends 'base.html.twig' %}

{% block title %}Categorie{% endblock %}

{% block body %}
    <h1>Categorie</h1>

    <table class="table">
        <tbody>
            {#<tr>
                <th>Id</th>
                <td>{{ categorie.id }}</td>
            </tr>#}
            <tr>
                <th>NomCategorie</th>
                <td>{{ categorie.nomCategorie }}</td>
            </tr>
            {# 
            <tr>
                <th>User_create</th>
                <td>{{ categorie.userCreate }}</td>
            </tr>
            <tr>
                <th>User_update</th>
                <td>{{ categorie.userUpdate }}</td>
            </tr>
            <tr>
                <th>User_delete</th>
                <td>{{ categorie.userDelete }}</td>
            </tr>
            <tr>
                <th>Date_create</th>
                <td>{{ categorie.dateCreate ? categorie.dateCreate|date('Y-m-d H:i:s') : '' }}</td>
            </tr>
            <tr>
                <th>Date_update</th>
                <td>{{ categorie.dateUpdate ? categorie.dateUpdate|date('Y-m-d H:i:s') : '' }}</td>
            </tr>
            <tr>
                <th>Date_delete</th>
                <td>{{ categorie.dateDelete ? categorie.dateDelete|date('Y-m-d H:i:s') : '' }}</td>
            </tr> 
            #}
        </tbody>
    </table>

    <a href="{{ path('app_categorie_index') }}" class="list-button">Liste Catégorie</a>
    <a href="{{ path('app_categorie_edit', {'id': categorie.id}) }}" class="list-button">Modifier</a>
    {{ include('categorie/_delete_form.html.twig') }}
{% endblock %}
