{# templates/dashboard/index.html.twig #}
{% extends 'base.html.twig' %}

{% block title %}Dashboard{% endblock %}

{% block body %}
<div class="container mt-5">
    <div class="row mb-4">
        <div class="col-md-12 text-center">
            <h1>Bienvenue sur le tableau de bord</h1>
            <p>Voici un aperçu des activités de l'agence immobilière.</p>
        </div>
    </div>
    <div class="row mb-4">
        <div class="col-md-3">
            <div class="card bg-primary text-white shadow-sm">
                <div class="card-header">Propriétaires</div>
                <div class="card-body">
                    <h5 class="card-title">{{ total_proprietaires }}</h5>
                    <p class="card-text">Nombre total de propriétaires</p>
                </div>
            </div>
        </div>
        <div class="col-md-3">
            <div class="card bg-success text-white shadow-sm">
                <div class="card-header">Biens Immobiliers</div>
                <div class="card-body">
                    <h5 class="card-title">{{ total_biens }}</h5>
                    <p class="card-text">Nombre total de biens immobiliers</p>
                </div>
            </div>
        </div>
        <div class="col-md-3">
            <div class="card bg-warning text-white shadow-sm">
                <div class="card-header">Clients</div>
                <div class="card-body">
                    <h5 class="card-title">{{ total_clients }}</h5>
                    <p class="card-text">Nombre total de clients</p>
                </div>
            </div>
        </div>
        <div class="col-md-3">
            <div class="card bg-danger text-white shadow-sm">
                <div class="card-header">Visites</div>
                <div class="card-body">
                    <h5 class="card-title">{{ total_visites }}</h5>
                    <p class="card-text">Nombre total de visites programmées</p>
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-md-6 mb-4">
            <div class="card shadow-sm">
                <div class="card-header">Statistiques des contrats</div>
                <div class="card-body">
                    <canvas id="contratsChart"></canvas>
                </div>
            </div>
        </div>
        <div class="col-md-6 mb-4">
            <div class="card shadow-sm">
                <div class="card-header">Statistiques des paiements</div>
                <div class="card-body">
                    <canvas id="paiementsChart"></canvas>
                </div>
            </div>
        </div>
    </div>
</div>

<script>
    // Graphiques avec Chart.js
    var ctxContrats = document.getElementById('contratsChart').getContext('2d');
    var contratsChart = new Chart(ctxContrats, {
        type: 'bar',
        data: {
            labels: ['Jan', 'Feb', 'Mar', 'Apr', 'May', 'Jun', 'Jul', 'Aug', 'Sep', 'Oct', 'Nov', 'Dec'],
            datasets: [{
                label: 'Contrats signés',
                data: [12, 19, 3, 5, 2, 3, 7, 8, 6, 4, 10, 15],
                backgroundColor: 'rgba(54, 162, 235, 0.2)',
                borderColor: 'rgba(54, 162, 235, 1)',
                borderWidth: 1
            }]
        },
        options: {
            scales: {
                y: {
                    beginAtZero: true
                }
            }
        }
    });

    var ctxPaiements = document.getElementById('paiementsChart').getContext('2d');
    var paiementsChart = new Chart(ctxPaiements, {
        type: 'line',
        data: {
            labels: ['Jan', 'Feb', 'Mar', 'Apr', 'May', 'Jun', 'Jul', 'Aug', 'Sep', 'Oct', 'Nov', 'Dec'],
            datasets: [{
                label: 'Paiements reçus',
                data: [500, 700, 300, 400, 800, 600, 900, 1100, 1000, 1200, 900, 700],
                backgroundColor: 'rgba(255, 206, 86, 0.2)',
                borderColor: 'rgba(255, 206, 86, 1)',
                borderWidth: 1
            }]
        },
        options: {
            scales: {
                y: {
                    beginAtZero: true
                }
            }
        }
    });
</script>
{% endblock %}
