{% extends 'base.html.twig' %}

{% block title %}Modifier Contrat{% endblock %}

{% block body %}
    <h1>Modifier Contrat</h1>

    {{ include('contrat/_form.html.twig', {'button_label': 'Modifier'}) }}

    <a href="{{ path('app_contrat_index') }}">Afficher la Liste</a>

    {{ include('contrat/_delete_form.html.twig') }}
{% endblock %}
