{% extends 'base.html.twig' %}

{% block title %}Liste Contrat{% endblock %}

{% block body %}
    <h1>Liste Contrat</h1>

    <table class="table">
        <thead>
            <tr>
                <th>Montant</th>
                <th>Nom Contrat</th>
                <th>Description</th>
                <th>Date Contrat</th>
                <th>Actions</th>
                {#
                <th>Id</th>
                <th>User_create</th>
                <th>User_update</th>
                <th>User_delete</th>
                <th>Date_create</th>
                <th>Date_update</th>
                <th>Date_delete</th>
                #}
            </tr>
        </thead>
        <tbody>
        {% for contrat in contrats %}
            <tr>
                <td>{{ contrat.Montant }}</td>
                <td>{{ contrat.NomContrat }}</td>
                <td>{{ contrat.Description }}</td>
                <td>
                    <a href="{{ path('app_contrat_show', {'id': contrat.id}) }}">Afficher</a>
                    <a href="{{ path('app_contrat_edit', {'id': contrat.id}) }}">Modifier</a>
                </td>
                {#
                <td>{{ contrat.id }}</td>
                <td>{{ contrat.DateContrat ? contrat.DateContrat|date('Y-m-d H:i:s') : '' }}</td>
                <td>{{ contrat.userCreate }}</td>
                <td>{{ contrat.userUpdate }}</td>
                <td>{{ contrat.userDelete }}</td>
                <td>{{ contrat.dateCreate ? contrat.dateCreate|date('Y-m-d H:i:s') : '' }}</td>
                <td>{{ contrat.dateUpdate ? contrat.dateUpdate|date('Y-m-d H:i:s') : '' }}</td>
                <td>{{ contrat.dateDelete ? contrat.dateDelete|date('Y-m-d H:i:s') : '' }}</td>
                #}
            </tr>
        {% else %}
            <tr>
                <td colspan="12">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('app_contrat_new') }}">Créer Nouveau Contrat</a>
{% endblock %}
