{% extends 'base.html.twig' %}

{% block title %}Nouveau Contrat{% endblock %}

{% block body %}
    <h1>Créer Nouveau Contrat</h1>

    {{ include('contrat/_form.html.twig') }}

    <a href="{{ path('app_contrat_index') }}" class="link-btn">Afficher la Liste</a>
{% endblock %}
