{% extends 'base.html.twig' %}

{% block title %}Contrat{% endblock %}

{% block body %}
    <h1>Contrat</h1>

    <table class="table">
        <tbody>
            <tr>
                <th>Montant</th>
                <td>{{ contrat.Montant }}</td>
            </tr>
            <tr>
                <th>Nom_Contrat</th>
                <td>{{ contrat.NomContrat }}</td>
            </tr>
            <tr>
                <th>Description</th>
                <td>{{ contrat.Description }}</td>
            </tr>
            <tr>
                <th>DateContrat</th>
                <td>{{ contrat.DateContrat ? contrat.DateContrat|date('Y-m-d H:i:s') : '' }}</td>
            </tr>
            {#
            <tr>
                <th>Id</th>
                <td>{{ contrat.id }}</td>
            </tr>
            <tr>
                <th>User_create</th>
                <td>{{ contrat.userCreate }}</td>
            </tr>
            <tr>
                <th>User_update</th>
                <td>{{ contrat.userUpdate }}</td>
            </tr>
            <tr>
                <th>User_delete</th>
                <td>{{ contrat.userDelete }}</td>
            </tr>
            <tr>
                <th>Date_create</th>
                <td>{{ contrat.dateCreate ? contrat.dateCreate|date('Y-m-d H:i:s') : '' }}</td>
            </tr>
            <tr>
                <th>Date_update</th>
                <td>{{ contrat.dateUpdate ? contrat.dateUpdate|date('Y-m-d H:i:s') : '' }}</td>
            </tr>
            <tr>
                <th>Date_delete</th>
                <td>{{ contrat.dateDelete ? contrat.dateDelete|date('Y-m-d H:i:s') : '' }}</td>
            </tr>
#}
        </tbody>
    </table>

    <a href="{{ path('app_contrat_index') }}">Afficher la Liste</a>

    <a href="{{ path('app_contrat_edit', {'id': contrat.id}) }}">Modifier</a>

    {{ include('contrat/_delete_form.html.twig') }}
{% endblock %}
