{% extends 'base.html.twig' %}

{% block title %}Modifier Facture{% endblock %}

{% block body %}
    <h1>Modifier Facture</h1>

    {{ include('facture/_form.html.twig', {'button_label': 'Modifier'}) }}

    <a href="{{ path('app_facture_index') }}">Afficher la Liste</a>

    {{ include('facture/_delete_form.html.twig') }}
{% endblock %}
