{% extends 'base.html.twig' %}

{% block title %}Liste Facture{% endblock %}

{% block body %}
    <h1>Liste Facture</h1>

    <table class="table">
        <thead>
            <tr>
                <th>Numéro de Facture</th>
                <th>Montant</th>
                <th>Date d'Emission</th>
                <th>Date de Paiement</th>
                <th>Actions</th>
                {#
                <th>Id</th>
                <th>User_create</th>
                <th>User_update</th>
                <th>User_delete</th>
                <th>Date_create</th>
                <th>Date_update</th>
                <th>Date_delete</th>
                #}
            </tr>
        </thead>
        <tbody>
        {% for facture in factures %}
            <tr>
                <td>{{ facture.NumFacture }}</td>
                <td>{{ facture.Montant }}</td>
                <td>{{ facture.DateEmission ? facture.DateEmission|date('Y-m-d H:i:s') : '' }}</td>
                <td>{{ facture.DatePaiement ? facture.DatePaiement|date('Y-m-d H:i:s') : '' }}</td>
                <td>
                    <a href="{{ path('app_facture_show', {'id': facture.id}) }}">Afficher</a>
                    <a href="{{ path('app_facture_edit', {'id': facture.id}) }}">Modifier</a>
                </td>
                {#
                <td>{{ facture.id }}</td>
                <td>{{ facture.userCreate }}</td>
                <td>{{ facture.userUpdate }}</td>
                <td>{{ facture.userDelete }}</td>
                <td>{{ facture.dateCreate ? facture.dateCreate|date('Y-m-d H:i:s') : '' }}</td>
                <td>{{ facture.dateUpdate ? facture.dateUpdate|date('Y-m-d H:i:s') : '' }}</td>
                <td>{{ facture.dateDelete ? facture.dateDelete|date('Y-m-d H:i:s') : '' }}</td>
                #}
            </tr>
        {% else %}
            <tr>
                <td colspan="12">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('app_facture_new') }}">Créer Nouvelle Facture</a>
{% endblock %}
