{% extends 'base.html.twig' %}

{% block title %}Nouvelle Facture{% endblock %}

{% block body %}
    <h1>Créer Nouvelle Facture</h1>

    {{ include('facture/_form.html.twig') }}

    <a href="{{ path('app_facture_index') }}" class="link-btn">Afficher la Liste</a>
{% endblock %}
