{% extends 'base.html.twig' %}

{% block title %}Facture{% endblock %}

{% block body %}
    <h1>Facture</h1>

    <table class="table">
        <tbody>
            <tr>
                <th>Numéro Facture</th>
                <td>{{ facture.NumFacture }}</td>
            </tr>
            <tr>
                <th>Montant</th>
                <td>{{ facture.Montant }}</td>
            </tr>
            <tr>
                <th>Date d'Emission</th>
                <td>{{ facture.DateEmission ? facture.DateEmission|date('Y-m-d H:i:s') : '' }}</td>
            </tr>
            <tr>
                <th>Date de Paiement</th>
                <td>{{ facture.DatePaiement ? facture.DatePaiement|date('Y-m-d H:i:s') : '' }}</td>
            </tr>
{#
            <tr>
                <th>Id</th>
                <td>{{ facture.id }}</td>
            </tr>
            <tr>
                <th>User_create</th>
                <td>{{ facture.userCreate }}</td>
            </tr>
            <tr>
                <th>User_update</th>
                <td>{{ facture.userUpdate }}</td>
            </tr>
            <tr>
                <th>User_delete</th>
                <td>{{ facture.userDelete }}</td>
            </tr>
            <tr>
                <th>Date_create</th>
                <td>{{ facture.dateCreate ? facture.dateCreate|date('Y-m-d H:i:s') : '' }}</td>
            </tr>
            <tr>
                <th>Date_update</th>
                <td>{{ facture.dateUpdate ? facture.dateUpdate|date('Y-m-d H:i:s') : '' }}</td>
            </tr>
            <tr>
                <th>Date_delete</th>
                <td>{{ facture.dateDelete ? facture.dateDelete|date('Y-m-d H:i:s') : '' }}</td>
            </tr>
            #}
        </tbody>
    </table>

    <a href="{{ path('app_facture_index') }}">Afficher la Liste</a>

    <a href="{{ path('app_facture_edit', {'id': facture.id}) }}">Modifier</a>

    {{ include('facture/_delete_form.html.twig') }}
{% endblock %}
