<form method="post" action="{{ path('app_visite_delete', {'id': visite.id}) }}" onsubmit="return confirm('Êtes vous sûr de vouloir supprimer?');">
    <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ visite.id) }}">
    <button class="btn">Supprimer</button>
</form>
