{% extends 'base.html.twig' %}

{% block title %}Modifier Visite{% endblock %}

{% block body %}
    <h1>Modifier Visite</h1>

    {{ include('visite/_form.html.twig', {'button_label': 'Modifier'}) }}

    <a href="{{ path('app_visite_index') }}">Afficher la Liste</a>

    {{ include('visite/_delete_form.html.twig') }}
{% endblock %}
