{% extends 'base.html.twig' %}

{% block title %}Liste Visite{% endblock %}

{% block body %}
    <h1>Liste des Visite</h1>

    <table class="table">
        <thead>
            <tr>
                {#<th>Id</th>
                    #}
                <th>Date de Visite</th>
                <th>Commentaire</th>
                {#<th>User_create</th>
                <th>User_update</th>
                <th>User_delete</th>
                <th>Date_create</th>
                <th>Date_update</th>
                <th>Date_delete</th>#}
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
        {% for visite in visites %}
            <tr>
                {#
                <td>{{ visite.id }}</td>#}
                <td>{{ visite.date ? visite.date|date('Y-m-d H:i:s') : '' }}</td>
                <td>{{ visite.commentaire }}</td>
                {#<td>{{ visite.userCreate }}</td>
                <td>{{ visite.userUpdate }}</td>
                <td>{{ visite.userDelete }}</td>
                <td>{{ visite.dateCreate ? visite.dateCreate|date('Y-m-d H:i:s') : '' }}</td>
                <td>{{ visite.dateUpdate ? visite.dateUpdate|date('Y-m-d H:i:s') : '' }}</td>
                <td>{{ visite.dateDelete ? visite.dateDelete|date('Y-m-d H:i:s') : '' }}</td>
                #}<td>
                    <a href="{{ path('app_visite_show', {'id': visite.id}) }}">Afficher</a>
                    <a href="{{ path('app_visite_edit', {'id': visite.id}) }}">Modifier</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="10">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('app_visite_new') }}">Créer Nouvelle</a>
{% endblock %}
