{% extends 'base.html.twig' %}

{% block title %}Nouvelle Visite{% endblock %}

{% block body %}
    <h1>Créer Nouvelle  Visite</h1>

    {{ include('visite/_form.html.twig') }}

    <a href="{{ path('app_visite_index') }}" class="link-btn">Afficher Nouvelle</a>
{% endblock %}
