{% extends 'base.html.twig' %}

{% block title %}Visite{% endblock %}

{% block body %}
    <h1>Visite</h1>

    <table class="table">
        <tbody>
            {#<tr>
                <th>Id</th>
                <td>{{ visite.id }}</td>
            </tr>#}
            <tr>
                <th>Date de Visite</th>
                <td>{{ visite.date ? visite.date|date('Y-m-d H:i:s') : '' }}</td>
            </tr>
            <tr>
                <th>Commentaire</th>
                <td>{{ visite.commentaire }}</td>
            </tr>
            {#<tr>
                <th>User_create</th>
                <td>{{ visite.userCreate }}</td>
            </tr>
            <tr>
                <th>User_update</th>
                <td>{{ visite.userUpdate }}</td>
            </tr>
            <tr>
                <th>User_delete</th>
                <td>{{ visite.userDelete }}</td>
            </tr>
            <tr>
                <th>Date_create</th>
                <td>{{ visite.dateCreate ? visite.dateCreate|date('Y-m-d H:i:s') : '' }}</td>
            </tr>
            <tr>
                <th>Date_update</th>
                <td>{{ visite.dateUpdate ? visite.dateUpdate|date('Y-m-d H:i:s') : '' }}</td>
            </tr>
            <tr>
                <th>Date_delete</th>
                <td>{{ visite.dateDelete ? visite.dateDelete|date('Y-m-d H:i:s') : '' }}</td>
            </tr>#}
        </tbody>
    </table>

    <a href="{{ path('app_visite_index') }}">Afficher la Liste</a>

    <a href="{{ path('app_visite_edit', {'id': visite.id}) }}">Modifier</a>

    {{ include('visite/_delete_form.html.twig') }}
{% endblock %}
